:root {
    --color1: #3C1DED;
    --color1a: #160a58;
    --color2: #DD2181;
    --color2a: #680d3c;
    --color3: #9720CC;
    --color3a: #380d4b;
    --color4: #D5110B;
    --color4a: #640a07;
    --color5: #35C802;
    --color5a: #124202;
}