:root {
    --color1: #6E5574;
    --color1a: #bc58d4;
    --color2: #714406;
    --color2a: #f59a1b;
    --color3: #5C7A79;
    --color3a: #1ef1ea;
    --color4: #6B6BB3;
    --color4a: #1616dd;
    --color5: #661A53;
    --color5a: #f018ba;
}